@model Register

@{
    ViewData["Title"] = "Summary"; 
}


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1>Welcome @Model.FirstName @Model.LastName</h1>
    </div>
</div>